#divtag {
    background-color: beige;
    height: 150px;
    width: 150px;
    position: absolute;
    margin: auto;
}
.navibar{
    background-color: #8c8c8c;
}
.jumbotron {
    margin: 0px;

}
.navbar {
    margin: 0px;
}
body {
    width: 70%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
}
.overskrift {
    color: white;
}
#quiz_add {
    border-radius: 15px;
}
#quiz_add:hover {
    background-color: white;
    cursor: pointer;
}

#startQuiz:hover {
    background-color: darkgoldenrod;
    cursor: pointer;
}

#ingenQuiz {
    background-color: #843534;
}

#alternativer {
    background-color: darkgoldenrod;
    cursor: pointer;
}

#ssss:hover {
    background-color: white;
    cursor: pointer;
}
#clicked {

}
.kanten {
    border-radius: 15px;
}

#third,#second,#first,#addmore {
    margin-bottom: 20px;
    margin-top: 20px;

}


