#divtag {
    background-color: beige;
    height: 150px;
    width: 150px;
    position: absolute;
    margin: auto;
}
.navibar{
    background-color: #8c8c8c;
}
.jumbotron {
    margin: 0px;
}
.navbar {
    margin: 0px;
}
body {
    width: 70%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
}
.overskrift {
    color: white;
}